extends layout.pug

block content
    .section
        form(action="/" method="post")
            .card.has-background-warning
                .card-content
                    .field 
                        label.label.is-size-4 User ID
                        .control
                            input.input.is-size-4.has-background-warning-light(type='text' name="user_id" required="true")
                    .field
                        label.label.is-size-4 Forename
                        .control
                            input.input.is-size-4.has-background-warning-light(type='text' name="forename")

                    .field
                        label.label.is-size-4 Surname
                        .control
                            input.input.is-size-4.has-background-warning-light(type='text' name="surname")

                    .field
                        label.label.is-size-4 Email
                        .control
                            input.input.is-size-4.has-background-warning-light(type='email' name="email")

                    .field.is-grouped
                        .control
                            button.button.is-link.is-size-4 Submit
                        .control
                            label.is-size-5.checkbox 
                                input.mr-2.is-size-5(type="checkbox" name="badRequest")
                                span Bad request